<% provide(:title, "森林の紹介") %>
<h1>日本各地の森林</h1>



<div class="shiraya">
<p class="linkname">白神山地</p>

  <img class="aaaa" src="https://www.hankyu-travel.com/attending/heritage/japan/images/EBP15-08334A.jpg" width="500px" height="200px">
</a>
<p>
    白神山地について<br>
    1993年に世界遺産登録された地域で約130,000haの広大なブナ林が広がります。<br>
    世界的に珍しいブナの原生林で、多種多様な生物が生息しています。<br>
　　ブナの原生林が白神山地ほど大規模に残っているのは世界的にも珍しいです。<br>
    日本の滝百選に選ばれたくろくまの滝や青の滝が有名な十二湖や釣りができる赤石川渓流などが見どころです<br>
    ６月に山開きが行われ、１０月には紅葉が見れます。山では天気や気温が変わりやすいのでカッパや上着などが必要です。<br>
　　アクセス：白神山地ビジターセンター　〒036-1411 青森県中津軽郡西目屋村神田６１−１<br>
</p>
</div>

<div class="shiraya">
<p class="linkname">白谷雲水峡</p>

    <img class="aaaa" src="https://www.t-marche.com/tripper/img/uploads/6e630500294bd495.png" width="500px" height="200px">
</a>
<p>
    白谷雲水峡について<br>
    白谷雲水峡は屋久島にある宮之浦川の支流、白谷川の上流にある面積423.73ヘクタールの自然休養林です。<br>
    推定樹齢3000年の弥生杉、奉行杉、七本杉等、太い屋久杉も見られ、樹上にはナナカマド、コバンモチ、カクレミノ、サクラツツジ、タイミンタチバナなどが着生しています。
<br>
    もののけ姫の森と呼ばれる森があり、スタジオジブリの宮崎駿監督がもののけ姫の森のイメージにした場所になります。<br>
　　アクセス：白谷雲水峡　〒891-4200 鹿児島県熊毛郡屋久島町宮之浦<br>
</p>
</div>

<div class="gangura">
<p class="linkname">ガンガラーの谷</p>

    <img class="aaaa" src="http://img-cdn.guide.travel.co.jp/article/29/3964/70DF305568404D889DBEEF2CA7B4786C_LL.jpg" width="500px" height="200px">
</a>
<p>
    ガンガラーの谷について<br>
    ガンガラーの谷は、数十万年前までは鍾乳洞だった場所が崩れてできた、豊かな自然が残る亜熱帯の森です。<br>
    巨大なガジュマルの木のほか、古くから住民が信仰してきた鍾乳石、古代人が住んでいたとされる住居跡などがあります。<br>
    沖縄県内屈指の透明度を誇る百名ビーチを見下ろす絶好のロケーションカフェなどの見どころのある場所があります。<br>
　　アクセス：ガングラーの森　〒901-0616 沖縄県南城市玉城前川２０２<br>
</p>
</div>