<footer class="footer">
  <small>
    sinrin.com
  </small>
  <nav>
    <ul>
      <li><%= link_to "管理者の連絡先", about_path   %></li>
      <li><%= link_to "管理者", contact_path %></li>
        <!--<li><a href="http://news.railstutorial.org/">ニュース</a></li>-->
    </ul>
  </nav>
</footer>